web/node_modules/
web/dist/
web/.env
web/*.local
native/.dart_tool/
native/.packages
native/.pub/
native/build/
native/.flutter-plugins
native/.flutter-plugins-dependencies
native/app/flutter_ui/.dart_tool/
native/app/flutter_ui/build/
native/app/flutter_ui/.flutter-plugins
native/app/flutter_ui/.flutter-plugins-dependencies
.DS_Store
